<h1>Invoices</h1>

<div class="admin-links">
  <p>Admin Links:</p>
  <%= link_to "Dashboard", admin__index_path %>
  <%= link_to "Merchants", admin_merchants_path %>
</div>

<div class="row">
  <% @invoices.each do |invoice| %>
  <div class="card col-4">
    <%= link_to "Invoice # #{invoice.id}", admin_invoice_path(invoice.id) %>
  </div>
  <% end %>
</div>
