<h1>My Bulk Discounts</h1>

<% @merchant.discounts.each do |discount| %>
<h4>Discount ID: <%= discount.id %></h4>
<p>Perfcent off: %<%= discount.percent %> </p>
<p>quantity_threshold: <%= discount.quantity_threshold %> </p>
<% end %>
